.features-list {
  @extend %list;

  @include breakpoint($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features-list__item {
  &::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: $item-margin;

    background-color: $secondary-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $radius;
  }

  &:not(:last-child) {
    margin-bottom: $item-margin;
  }

  @include breakpoint($tablet) {
    flex-basis: calc((100% - $item-margin) / 2);

    &:nth-child(odd) {
      margin-right: $item-margin;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include breakpoint($desktop) {
    flex-basis: calc((100% - 3 * $item-margin) / 4);

    &:nth-child(odd) {
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-right: $item-margin;
      margin-bottom: 0;
    }
  }
}

.features-list__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  color: $title-text-color;
  text-transform: uppercase;
  text-align: center;

  @include breakpoint($tablet) {
    text-align: left;
  }
}

$icons: 'antenna', 'clock', 'diagram', 'astronaut';

@each $icon-name in $icons {
  .features-list__item--#{$icon-name}::before {
    background-image: url('../images/features/#{$icon-name}.svg');
  }
}
