.contacts {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.contacts__link {
  @extend %link;
  @include centeredFlex($main-axis: null);

  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @include transition(color);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
