.contacts {
  @include centeredFlex($type: inline-flex, $main-axis: null);
  flex-direction: column;

  @include breakpoint($tablet) {
    align-items: flex-start;
  }

  @include breakpoint($desktop) {
    flex-direction: row;
  }
}

.contacts__link {
  @extend %link;
  @include centeredFlex($main-axis: null);

  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @include transition(color);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include breakpoint($tablet) {
    font-size: 12px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @include breakpoint($desktop) {
    font-size: 14px;
    line-height: 1.14;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
