.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 60px 0;

  text-align: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @include transition(opacity, visibility);

  &--open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}
