.social-networks {
  @extend %list;
  display: inline-flex;
}

.social-networks__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-networks__link {
  display: flex;
  width: 44px;
  height: 44px;

  color: $icon-link-color;
  border-radius: 50%;

  @include transition(color, background-color);

  &--theme-dark {
    color: $primary-white-color;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
  }
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  margin: auto;

  fill: currentColor;
}
