body {
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: $primary-text-color;

  background-color: $primary-white-color;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @include breakpoint($mobile) {
    width: $mobile;
  }
}
