// Fonts

$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

// Colors

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-hover-bg-color: #188ce8;
$primary-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$dark-bg-color: #2f303a;
$overlay-color: rgba(47, 48, 58, 0.8);
$icon-link-color: #afb1b8;

// Shadows

$shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
$shadow-layered:
  0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 1px rgba(0, 0, 0, 0.14),
  0 2px 1px rgba(0, 0, 0, 0.2);

// Transitions

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// Geometry

$item-margin: 30px;
$radius: 4px;
